.experiences-page {
  background-color: #fffaf1;
  min-height: 100vh;
  padding: 0;
}

.experiences-grid {
  padding: 60px 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.experience-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.experience-card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.experience-card-body {
  padding: 18px;
}

.experience-card-body h3 {
  color: #7f1d1d;
  margin-bottom: 10px;
}

.experience-card-body p {
  font-size: 14px;
  color: #444;
}

.experience-link {
  text-decoration: none;
  color: inherit;
}

.exp-location,
.exp-duration {
  font-size: 14px;
  color: #666;
}

.exp-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.empty-likes {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 50px 30px;
  background: white;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.empty-heart {
  font-size: 70px;
  color: #d8d0c8;
  margin-bottom: 20px;
}

.empty-likes h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
  font-weight: 700;
}

.empty-likes p {
  color: #777;
  font-size: 17px;
  line-height: 1.8;
}